[Unit]
Description=HomelabSentinel Docker container check - every 10 minutes

[Timer]
OnCalendar=*:0/10
AccuracySec=1min

[Install]
WantedBy=timers.target
